.header {
  padding: 20px 0;
  background-color: #31a352;
  margin-bottom: 50px;

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__link {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
  }
}