.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 20px 10px;
    background-color: rgb(255, 255, 255);

    @media (min-width: 500px) {
      padding: 20px;
    }
  }

  &__title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
  }

  &__text {
    font-size: 16px;
    @extend .overlay__title;
  }
}